/*
colours used:
Primary (white) rgba (255, 255, 255, 0.0);
Secondary (white smoke) rgba (247, 247, 247, 0.0);
Text colour (ink) rgba (35, 35, 35, 0.0);
*/
/*==================================================
gobal styles
====================================================*/
html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF ;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem; /* sets the font size to 16px*/
    font-weight: 400; /* sets the font weight to 400*/
    line-height: 1.6; /* sets the line height to 1.6 the font-size*/
    color: #303030;

}
img {
    width: 100%;
}

h1, h2, h3, h4 {
    line-height: 1.4;
    margin: 0;
}
h1 {
    font-size: 3.2rem;
    font-weight: 600;
}

h2 {
    font-size: 2.8rem;
    font-weight: 600;
}

h3 {
    font-size: 2.4rem;
    font-weight: 400;
}

h4 {
    font-size: 2rem;
    font-weight: 400;
}

a {
    color:#303030;
}
a:visited {
    color:#303030;
}
a:hover {
    color:#30303099;
}
a:focus {
    color:#30303099;
}
a:active {
    color: #30303099;
}

.button {
    display: inline-block; /*since the <a> tag is in line by defauly, we need this to inline-b lock*/
    background-color: #303030;
    color: #ffffff; /* needed to override the default link colour*/
    font-weight:400;
    padding: 12px 24px;
    border-radius: 12px;
    transition: 0.2s opacity;
    text-decoration: none;
}
.button:visited {
    color: #ffffff;
}
.button:hover {
    color: #ffffffcc; /* needed to override the default link colour*/
    opacity: 0.8;
}
.button:focus {
    color: #ffffffcc;
}
.button:active {
    color:#ffffffcc
}
nav selector {
    display: inline-block;
    width: auto;
}
nav a {
    text-decoration: none;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0 16px;
    text-transform: uppercase;
    font-weight: 300;
    color:#303030
}
header {
    background-color: #f7f7f7;
    padding: 8px 0;
    text-align: center;
    box-shadow: 5px 5px 10px #30303040;
    z-index: 999;
    border-bottom: #fff 3px solid;
}
header .container {
    gap: 1.6rem;
}

.logo {
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 600;
    max-width: 250px;
 }

/*==================================================
styles applied in 1.7
====================================================*/

/* Layout Styling */
.section {
    padding: 4.8rem 0;
}
.container {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section.project .container {
    gap: 2.4rem;
}
.section.project .row {
    gap: 0.8rem;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#intro {
    text-align: center;
    background-color:#f7f7f7;

}
#intro h1 span {
    display: block;
    font-size: 2.0rem;
    margin-top: 2.4rem;
}

/*==================================================
footer styling
====================================================*/
.social a {
    text-decoration: none;
}

/*==================================================
styles applied in 1.8
====================================================*/

/*==================================================
medium devices (640px and larger)
====================================================*/
@media only screen and (min-width: 640px) {
    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
    .section.project .row {
        flex-direction: row;
        gap: 3rem;
    }
    .section.project .column {
        width: 50%;
    }
}   
/*==================================================
large devices (1024px or larger)
====================================================*/
@media only screen and (min-width: 1024px) {

}
/*==================================================
x-large devices (1440px or larger)
====================================================*/
@media only screen and (min-width: 1440px) {

}
/*==================================================
xx-large devices (1920px or larger)
====================================================*/
@media only screen and (min-width: 1920px) {

}